{% extends "baseTemplate.html.twig" %}
{% block meta %}
    <link href="/src/Views/style/admin.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block title %}
	Home
{% endblock %}
{% block content %}
	<section>
		
	</section>
{% endblock %}
