{% extends "baseTemplate.html.twig" %}
{% block meta %}
    <link rel="stylesheet" type="text/css" href="../src/Views/style/admin.css" /> 
{% endblock %}
{% block title %}
	Users
{% endblock %}
{% block content %}
	<section>
		{% for user in data %}
			{% for elem in user %}
				{{ elem }} -
			{% endfor %}
			<br>
		{% endfor %}
	</section>
{% endblock %}
