{% extends "baseTemplate.html.twig" %}
{% block meta %}
    <link rel="stylesheet" type="text/css" href="/e-commerce-php-les-bests-benjou-et-jeremoux/src/Views/style/adminUsers.css"/>
{% endblock %}
{% block title %}
	Users
{% endblock %}
{% block content %}
	<section>
		{% for user in data %}
		<div class="li">
			{% for elem in user %}
			<ul>{{ elem }}</ul>
			{% endfor %}
			<br>
		</div>
		{% endfor %}
	</section>
{% endblock %}
