<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="src/Views/style/style.css" rel="stylesheet" >
 </head>
<body>
    <div class="main">
        <div class="form form-login">
            <form action="">
                <p>Login</p>
                <input type="input" value=""  name="email" placeholder="email">
                <input type="password" value="" name="mdp"  placeholder="password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="form form-register">
            <form action="">
                <p>Register</p>
                <input type="input" value=""  name="firstname" placeholder="firstname">
                <input type="input" value=""  name="lastname" placeholder="lastname">
                <input type="number" value=""  name="number" placeholder="phone-number">
                <input type="number" value=""  name="birthdate" placeholder="birth date (yyyy-mm-dd)">
                <input type="input" value=""  name="email" placeholder="email">
                <input type="password" value="" name="password"  placeholder="password">
                <input type="password" value="" name="confirm-password"  placeholder="confirm-password">
                <button type="submit">Resgiter</button>
            </form>
        </div>
    </div>
    
   
</body>
</html>