{% extends "base.html.twig" %}

{% block title %}
	home | Y Mamazon
{% endblock %}

{% block meta %}
	<link href="./src/dist/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="bg-white">
		<div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
			<h2 class="text-2xl font-bold tracking-tight text-gray-900">All Products</h2>

			<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

				{% for product in data %}
					<div class="group relative">
						<div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
							<img src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
						</div>
						<div class="mt-4 flex justify-between">
							<div>
								<h3 class="text-sm text-gray-700">
									<a href="product/{{product.TOP_ID}}">
										<span aria-hidden="true" class="absolute inset-0"></span>
										{{product.TOP_Name}}
									</a>
								</h3>
								<p class="mt-1 text-sm text-gray-500">Quantitées: {{product.TOP_Quantity}}</p>
							</div>
							<p class="text-sm font-medium text-gray-900">{{product.TOP_DefaultPrice}} $</p>
						</div>
					</div>

				{% endfor %}

				<!-- More products... -->
			</div>
		</div>
	</div>


{% endblock %}
