{% extends "base.html.twig" %}

{% block title %}
	home | Y Mamazon
{% endblock %}

{% block meta %}
<link href="src/Views/style/style.css" rel="stylesheet">
	<link href="src/Views/style/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<ul class="flex-container nowrap">
		{% for product in data %}
				<a href="product/{{ product.TOP_ID}}" class="flex-item">
				<p>{{ product.TOP_Name}}</p>
				</a>
		
		{% endfor %}
	{% endblock %}
