<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="src/Views/style/style.css" rel="stylesheet" >
 <title>Ymazon - Login</title>
 </head>
    <div class="main">
        <div class="form form-login">
            <form action="/e-commerce-php-les-bests-benjou-et-jeremoux/user/login" method="post">
                <p>Login</p>
                <input type="input" value=""  name="mail" placeholder="Mail">
                <input type="password" value="" name="password"  placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="form form-register">
            <form action="/e-commerce-php-les-bests-benjou-et-jeremoux/user/create" method="post">
                <p>Register</p>
                <input type="input" value=""  name="pseudo" placeholder="Pseudo">
                <input type="input" value=""  name="firstname" placeholder="First name">
                <input type="input" value=""  name="lastname" placeholder="Last name">
                <input type="input" value=""  name="mail" placeholder="Mail">
                <input type="number" value=""  name="number" placeholder="Phone number">
                <input type="date" value=""  name="birthdate" placeholder="Birth date (yyyy-mm-dd)">
                <input type="password" value="" name="password"  placeholder="Password">
                <input type="password" value="" name="confirmpassword"  placeholder="Confirm password">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    
   
</body>
</html>