*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
}
/* ---------header-------------- */

header{

    display: flex;
    height: 20%;
    width: 100%;
    background-color:#074970;

}
header a{
    color: white;
    text-decoration: none;
}
.div-header{
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}
.div-header p{
    color: white;
}
.nameapp{
    justify-content: start;
    font-size: 3em;
    
}
.search{
    justify-content: end;
    margin-right: 30px;

}
.cart{
    color: white;
}
/* ----------------------- */

/* -----------body------------ */

.main{
    display: flex;
    height: auto;
    width: 100%;
}

/* ----------------------- */

/* ----------footer------------- */

footer{

    display: flex;
    height: 20vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #074970;
}
.div-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100% ;
    width: 33%;
}
.div-footer a{
    color: white;
}




/* ----------------------- */

